/* html,body {
  margin: 0px;
  box-sizing: border-box;
  height: 100%;
  background-color: white;
  border: 2px green solid;
} */

html {
  height: 100%;
}

body {
  border: solid 1px red;
  margin: 0%;
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.container {
  /* border: solid black 2px ; */
  display: flex;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 1px #c5c5c5;
  background-color: white;
}
.leftpannel {
  width: 50px;
  display: flex;
  margin: 0px;
}
.logos {
  width: 100%;
  background-color: #031a6b;
  /* border: green solid 2px; */
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  text-align: center;
  display: flex;
  /* flex-shrink: 1; */
  flex-direction: column;
}

.rightpannel {
  width: 0%;
  /* border:2px orange solid; */
}
.icons {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  padding: 12px;
}
.inner-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border:solid 2px white; */
  height: 100%;
}
.top-icon {
  background-color: #004385;
  border-top-left-radius: 15px;
}

.rightpannel {
  flex-shrink: 50;
  display: flex;
  /* border: solid 2px black; */
  flex-direction: column;
  width: 100%;
}
.heading {
  /* border:solid 2px red; */
  height: 50px;
  background-color: #f5f5f5;
  border-top-right-radius: 15px;
  display: flex;
}
.menu-btn {
  width: 95%;
  display: flex;
  justify-content: center;
  /* border: solid 2px black; */
}
.heading-btn {
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  /* letter-spacing: var(--spacing); */
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  /* line-height: 1; */
  outline-color: var(--clr-primary-10);
}
.active-btn {
  box-shadow: 0 2px #58a4b0;
  color: #58a4b0;
  /* border: solid 2px red; */
  height: 100%;
  box-sizing: border-box;
}
.menu-btn a {
  text-decoration: none;
  color: grey;
}
.menu-btn a:hover {
  color: #58a4b0;
  box-shadow: 0 2px #58a4b0;
}
.person-icon {
  color: black;
  height: 15px;
  width: 15px;
  background-color: #58a4b0;
  border-radius: 50%;
}
.logout {
  color: #58a4b0;
}
.person-profile {
  /* border: solid 2px black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-pages {
  height: 100%;
}
.inventory-page {
  /* border: 2px solid black; */
  height: 100%;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.form {
  /* border:solid 2px red; */
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.addingForm{
  display:block;
  visibility:hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.253);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteIcon {
  /* color: black; */
  font-size: 30px;
  color: #20a39e;
  padding: 5px;
  border: solid 2px #d9e5d6;
}
.Heading {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}
.inventory-name {
  /* border: solid 2px black; */
  padding: 2px;
  color: #004385;
  border-left: solid 3px;
  border-left-color: #58a4b0;
}
.underLine {
  margin-top: 10px;
  border: solid 1px rgb(221, 221, 221);
  background-color: rgb(228, 228, 228);
  margin-bottom: 10px;
}
.items {
  box-sizing: border-box;
  background-color: inherit;
  box-shadow: 0px 0px 7px 0px #d1cbcb;
  border-radius: 5px;
  /* height: 520px; */
  max-height: 520px;
  overflow:auto;
  /* border:solid 2px black; */
  /* height: 20px; */
}
.singleItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 248, 255);
  /* margin: 7px 0px; */
  border: solid 1px rgb(221, 230, 241);
}
.singleItem :nth-child(1) {
  font-weight: bold;
}

.w11p {
  text-transform: capitalize;
  
}

.billuSanda {
  display:block;
  visibility:hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.253);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promptBox {
  background-color: white;
  height: 200px;
  width: 300px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid black;
} 
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background:#58a4b0; 
}

.deleteSingleItemIcon{
  /* border: solid 2px gree; */
  height: 30px;
  width: 30px;
  color: grey;
  padding: 10px;

}
input{
  border-width: 2px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
.names{
  color: black;
  display: flex;
  justify-content: space-between;
  border: solid 2px green;
}
